{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock %}
</head>

<body>
    {% block header %}
    <header class="header">
        <nav class="header-nav">
            <div class="header-div">
                <ul class="header-list">
                    <li class="header-li"> <a href=""></a> Menu1 </li>
                    <li class="header-li"> <a href=""></a> Menu2 </li>
                    <li class="header-li"> <a href=""></a> Menu3 </li>
                    <li class="header-li"> <a href=""></a> Menu4 </li>
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}
    {% block main %}
    <main class="body">
        <section class="body-section">
            <div class="body-div">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="body-div">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </section>
    </main>
    {% endblock %}
    {% block article %}
    <article class="publicity">
        <div class="publicity-div">
            <ul class="publicity-ul">
                <li><a href=""></a>Algo </li>
                <li><a href=""></a>Algo1 </li>
                <li><a href=""></a>Algo2</li>
                <li><a href=""></a>Algo3 </li>
                <li><a href=""></a>Algo4 </li>
            </ul>
        </div>
    </article>
    {% endblock %}
    {% block foter %}
    <footer class="foter">
        <div class="foter-div">
            <ul class="foter-ul">
                <li class="foter-li"><a href=""></a> Menu 1 </li>
                <li class="foter-li"><a href=""></a> Menu 2 </li>
                <li class="foter-li"><a href=""></a> Menu 3 </li>
                <li class="foter-li"><a href=""></a> Menu 4 </li>
            </ul>
        </div>
    </footer>
    {% endblock %}
</body>

</html>
